<!-- drawer init and toggle -->
<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-sm sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
	<span class="sr-only">Open sidebar</span>
	{{ ux_icon('stash:burger-classic') }}
</button>

<!-- drawer component -->
<aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
	<div class="h-full px-3 py-4 overflow-y-auto bg-tertiary-50 border-r border-tertiary-300">
		<div class="px-2 pb-4 pt-0">
			<img src="{{ asset('images/logo.svg') }}" class="h-3 filter-primary" alt="{{ site_name }} Logo"/>
		</div>
		<ul class="text-sm">
			{% for item in this.menuItems %}
				<li>
					{% if item.submenus is defined %}
						<twig:Dropdown :id="item.name" :icon="item.icon" :label="item.name" :subitems="item.submenus"></twig:Dropdown>
					{% else %}
						<a href="{{ path(item.route) }}" class="flex items-center p-2 text-gray-900 rounded-sm hover:bg-gray-100 group">
							<twig:ux:icon name="{{ item.icon }}"/>
							<span class="ms-3">{{ item.name }}</span>
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</aside>

{# Copy and paste of the background backdrop, because otherwise, when it's added to the DOM, the classes aren't recognized, since with Tailwind, only the classes actually used are loaded. #}
<div class="bg-gray-900/50 fixed inset-0 z-30 hidden"></div>
