<!-- drawer init and toggle -->
<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  {{ ux_icon('stash:burger-classic') }}
</button>

<!-- drawer component -->
<aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <div class="px-2 pb-4 pt-0">
      <img src="{{ asset('images/logo.svg') }}" class="h-3 filter-primary" alt="{{ site_name }} Logo" />
    </div>
    <ul class="space-y-2 text-sm">
      {% for item in this.menuItems %}
        <li>
          <a href="{{ path(item.route) }}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <twig:ux:icon name="{{ item.icon }}" />
            <span class="ms-3">{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</aside>
