<div class="form-layout-grid">
    {{ form_row(shelterForm.name, {'row_attr': {'class': 'form-item-full-width'}}) }}
    {{ form_row(shelterForm.phoneNumber1, {'row_attr' : {'class': 'form-item-md-half'}}) }}
    {{ form_row(shelterForm.phoneNumber2, {'row_attr' : {'class': 'form-item-md-half'}}) }}
    {{ form_row(shelterForm.email, {'row_attr': {'class': 'form-item-full-width'}}) }}
    {{ form_row(shelterForm.openingHours, {'row_attr': {'class': 'form-item-full-width'}}) }}
    {{ form_row(shelterForm.description, {'row_attr': {'class': 'form-item-full-width'}}) }}
  </div>