{% use "@TalesFromADevFlowbite/form/default.html.twig" %}

{# Widgets #}

{%- block form_row -%}
    {%- set row_attr = row_attr|merge({'class': (row_attr.class|default('mb-2'))|trim}) -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
      <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
      </div>
{%- endblock form_row -%}

{# Class #}

{% block class_label -%}
  block mb-2 text-sm font-medium text-tertiary-800 dark:text-white
{%- endblock %}

{% block class_input_radio_label -%}
  ml-2 text-sm font-medium text-tertiary-800 dark:text-tertiary-300
{%- endblock %}

{% block class_input_switch_label_container -%}
  relative inline-flex items-center cursor-pointer
{%- endblock %}

{% block class_input_text -%}
  text-tertiary-800 bg-white rounded-sm text-sm block w-full p-2.5 border border-tertiary-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-tertiary-700 dark:border-tertiary-600 dark:text-white dark:placeholder-tertiary-400 dark:focus:ring-blue-500 dark:focus:border-blue-500
{%- endblock %}

{% block class_input_range -%}
  w-full h-2 bg-tertiary-200 rounded-sm appearance-none cursor-pointer dark:bg-tertiary-700
{%- endblock %}

{% block class_input_file -%}
  block w-full text-sm text-tertiary-800 border border-tertiary-300 rounded-sm cursor-pointer bg-white dark:text-tertiary-400 focus:outline-none dark:bg-tertiary-700 dark:border-tertiary-600 dark:placeholder-tertiary-400
{%- endblock %}

{% block class_input_radio -%}
  w-4 h-4 text-blue-600 bg-tertiary-100 border-tertiary-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-tertiary-800 focus:ring-2 dark:bg-tertiary-700 dark:border-tertiary-600
{%- endblock %}

{% block class_input_switch -%}
  relative w-11 h-6 bg-tertiary-200 rounded-full peer peer-focus:ring-2 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-tertiary-700 dark:border-tertiary-600 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-tertiary-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600
{%- endblock %}

{% block class_button -%}
  text-tertiary-800 bg-white font-medium rounded-sm text-sm px-5 py-2.5 mr-2 mb-2 border border-tertiary-200 hover:text-blue-700 hover:bg-tertiary-100 focus:outline-none focus:ring-2 focus:ring-tertiary-200 dark:text-tertiary-400 dark:bg-tertiary-800 dark:border-tertiary-600 dark:hover:text-white dark:hover:bg-tertiary-700 dark:focus:ring-tertiary-700
{%- endblock %}

{% block class_submit -%}
  text-white bg-blue-700 font-medium rounded-sm text-sm px-5 py-2.5 mr-2 mb-2 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
{%- endblock %}

{% block class_time_separator -%}
  inline-flex items-center px-3 text-sm text-tertiary-800 bg-tertiary-200 border border-x-0 border-tertiary-300 dark:bg-tertiary-600 dark:text-tertiary-400 dark:border-tertiary-600
{%- endblock %}

{% block class_addon -%}
  inline-flex items-center px-3 text-sm text-tertiary-800 bg-tertiary-200 border border-tertiary-300 dark:bg-tertiary-600 dark:text-tertiary-400 dark:border-tertiary-600
{%- endblock %}

{% block class_widget_addon_prepend -%}
  rounded-none rounded-l-lg
{%- endblock %}

{% block class_widget_addon_append -%}
  rounded-none rounded-r-lg
{%- endblock %}

{% block class_addon_prepend -%}
  border-r-0 rounded-l-md
{%- endblock %}

{% block class_addon_append -%}
  border-l-0 rounded-r-md
{%- endblock %}

{% block class_help_text -%}
  mt-2 text-sm text-tertiary-500 dark:text-tertiary-400
{%- endblock %}

{% block class_label_error -%}
  block mb-2 text-sm font-medium text-red-600 dark:text-red-500
{%- endblock %}

{% block class_input_radio_label_error -%}
  ml-2 text-sm font-medium text-red-600 dark:text-red-500
{%- endblock %}

{% block class_input_error -%}
  bg-red-50 border-red-500 text-red-900 placeholder-red-700 dark:bg-red-100 dark:border-red-500 dark:text-red-500 dark:placeholder-red-500 focus:z-10 focus:ring-red-500 focus:border-red-500 dark:focus:ring-red-500 dark:focus:border-red-500
{%- endblock %}

{% block class_text_error -%}
  mt-2 text-sm text-red-600 dark:text-red-500
{%- endblock %}

{% block class_input_disabled -%}
  disabled:bg-tertiary-100 disabled:border-tertiary-300 disabled:cursor-not-allowed dark:disabled:text-tertiary-400
{%- endblock %}
