{% extends 'layouts/auth_layout.html.twig' %}

{% block content %}
  {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
  {% endfor %}

  <h1 class="text-xl font-bold leading-tight tracking-tight text-secondary-800 md:text-2xl dark:text-white">Create an account</h1>

  {{ form_start(registrationForm) }}
  <form class="space-y-4 md:space-y-6" action="{{ path('app_register') }}">
    {{ form_row(registrationForm._token) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <button type="submit" class="w-full btn btn-secondary mb-0">Create an account</button>
  </form>
  {{ form_end(registrationForm) }}

  <p class="text-sm font-light">
    Already have an account? <a href="{{ path('app_login') }}" class="font-medium text-secondary-600 hover:underline">Login here</a>
  </p>
{% endblock %}
